@import url(https://github.com/kancheng/css-tool-haoye/blob/master/css/haoye-font.css);

charset "utf-8";

.btn-wdt {
	width: 120px;
}

.btn-text {
	width: 120px;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.bg-color {
	background-color: #FDFDFD;
}

.main {
    text-align: center;
}

.main .inner {
    background-image: url(https://github.com/kancheng/kancheng.github.io/blob/master/image/haoye.jfif?raw=true);
    background-size: cover;
    background-position: center center;
    height: 100%;
    border-radius: 50%;
}

.main .circle {
    display: inline-block;
    width: 15vw;
    height:15vw;
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 5px;
    background: #fff;
}