@import url(https://github.com/kancheng/css-tool-haoye/blob/master/css/haoye-font.css);

charset "utf-8";

.btn-wdt {
	width: 120px;
}

.btn-text {
	width: 120px;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.bg-color {
	background-color: #FDFDFD;
}


.main {
	display: inline-block;
	vertical-align: middle;
    width: 55rem;
    max-width: 90%;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
}

.main .inner {
    background-image: url(image/haoye.jfif);
    background-size: cover;
    background-position: center center;
    height: 100%;
    border-radius: 50%;
}

.main .circle {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #eee;
    padding: 5px;
    background: #fff;
}