

charset "utf-8";

.btn-wdt {
	width: 120px;
}

.btn-text {
	width: 120px;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

body {
	background-color: #FDFDFD;
}

.main {
    text-align: center;
}

.haoye-pic {
	width: auto;
	height: auto;
	max-width: 40vw;
	max-height: 40vh;
}

.more-icon {
	width: auto;
	height: auto;
	max-width: 5vw;
	max-height: 5vh;
}

.book-icon {
	width: auto;
	height: auto;
	max-width: 8vw;
	max-height: 8vh;
}

.github-icon {
	width: auto;
	height: auto;
	max-width: 8vw;
	max-height: 8vh;
}

@media screen and (max-width: 3000px) { 
	.minscrshow{
		visibility: hidden;
	}
}

@media screen and (max-width: 2000px) { 
	.minscrshow{
		visibility: hidden;
	}
}

@media screen and (max-width: 1000px) { 
	.minscrshow{
		visibility: hidden;
	}
}

@media screen and (max-width: 600px) { 
	.minscrfont{
		display:none;
	}
	.minscrshow{
		visibility: visible;
	}
}

