.console {
	background-color: #302727;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
	font-size: 2vmin;
	color: #09EF28;
	width: 50vw;
	height: 20vh;
	padding: 1vmin 1vmin;
	-ms-word-break: break-all;
	word-break: keep-all;
}
.console p {
	white-space: pre-line;
	margin: 0;
}
.main {
	color: #666;
	margin-top: 50px;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-ms-keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.blink {
	color: #09EF28;
	animation: blink 1s linear infinite;
	-webkit-animation: blink 1s linear infinite;
	-moz-animation: blink 1s linear infinite;
	-ms-animation: blink 1s linear infinite;
	-o-animation: blink 1s linear infinite;
}